---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { SITE } from "@consts";
---

<Layout title="Author" description={SITE.DESCRIPTION}>
  <Container>
    <section class="animate space-y-10">
    <h1 class="font-semibold text-black dark:text-white">
      Author
    </h1>
    <article>
    <p>Mo</p>
    </article>
    </section>
  </Container>
</Layout>
