---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { SITE } from "@consts";
---

<Layout title="Terms and Conditions" description={SITE.DESCRIPTION}>
  <Container>
    <section class="animate space-y-10">
      <h1 class="font-semibold text-black dark:text-white">
        Terms and Conditions
      </h1>
      <article> 
      <p>Welcome to Shopperqueries!</p>
      <p>These terms and conditions outline the rules and regulations for the use of Shopperqueries's Website, located at Shopperqueries.com.</p>
      <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Shopperqueries if you do not agree to take all of the terms and conditions stated on this page.</p>
      <h2 class="font-semibold text-black dark:text-white">
        Cookies:
      </h2>
      <p>We employ the use of cookies. By accessing Shopperqueries, you agreed to use cookies in agreement with the Shopperqueries's Privacy Policy.</p>
      <h2 class="font-semibold text-black dark:text-white">
        License:
      </h2>
      <p>Unless otherwise stated, Shopperqueries and/or its licensors own the intellectual property rights for all material on Shopperqueries. All intellectual property rights are reserved. You may access this from Shopperqueries for your own personal use subjected to restrictions set in these terms and conditions.</p>
      <h2 class="font-semibold text-black dark:text-white">
        You must not:
      </h2>
      <ul>
          <li>Republish material from Shopperqueries</li>
          <li>Sell, rent or sub-license material from Shopperqueries</li>
          <li>Reproduce, duplicate or copy material from Shopperqueries</li>
          <li>Redistribute content from Shopperqueries</li>
      </ul>
      <p>This Agreement shall begin on the date hereof.</p>
      <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Shopperqueries does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Shopperqueries,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Shopperqueries shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
      <p>Shopperqueries reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
      <p>You warrant and represent that:</p>
      <ul>
          <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
          <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
          <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
          <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
      </ul>
      <p>You hereby grant Shopperqueries a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
      </article>
    </section>    
  </Container>
</Layout>
